* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(32, 30, 51);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
}
header {
  font-size: 1rem;
  margin-top: 50px;
  margin-bottom: 20px;
  color: rgb(222, 180, 222);
}

/* TodoList */
ul {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  width: 25%;
  margin: auto;
  margin-top: 20px;
  color: black;
  padding: 10px;
}

li {
  position: relative;
  font-size: 1rem;
}

/* input field + button to add new task */
#new-todo-button {
  color: white;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 10px;
  font-size: 1rem;
  margin-left: 20px;
  cursor: pointer;
}
#new-todo-button:hover {
  color: rgb(222, 180, 222);
  border-color: rgb(222, 180, 222);
}
#new-todo-task {
  margin: auto;
  width: 20%;
  background: #f5f5f5;
  margin-left: 5rem;
  font-size: 1rem;
  border-radius: 10px;
  padding: 5px;
}

/* Edit function input elements */
.edit-button,
.save-button {
  position: absolute;
  top: 0px;
  right: 30px;
  color: rgb(38, 186, 38);
  font-size: 1rem;
  padding: 0 6px;
}
.edit-field {
  font-size: 1rem;
  text-align: center;
}

.checked {
  text-decoration: line-through;
}

/* Delete function elements */
i {
  color: rgb(32, 30, 51);
  width: 10px;
  margin-left: 10px;
  position: absolute;
  right: 10px;
  margin-top: 4px;
  cursor: pointer;
}
i:hover {
  color: red;
}
.fa-trash::before {
  content: "\f1f8";
  font-family: FontAwesome;
  font-weight: 400;
  position: relative;
  right: 0;
}

/* checkbox elements */
.checkbox-todo {
  background-color: rgb(32, 30, 51);
  color: #f5f5f5;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: 0px;
  border: initial;
  position: absolute;
  left: 0px;
  margin-top: 7px;
}
